@model examenPracticoGBD.Models.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_envio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_envio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_pedido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_pedido }) |
    @Html.ActionLink("Back to List", "Index")
</p>
