@model IEnumerable<examenPracticoGBD.Models.Proveedor>

@{
    ViewBag.Title = "Index";
}
<body background="https://previews.123rf.com/images/malven/malven1406/malven140600057/28899654-textura-de-una-antigua-alba%C3%B1iler%C3%ADa-en-tonos-marrones-claros-para-los-fondos-abstractos-y-de-fondo-de-pant.jpg">
</body>

<h2>Proveedores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="background-color:cadetblue">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_proveedor }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Details", "Details", new { id=item.id_proveedor }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.id_proveedor }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
